<div id="<%= dom_id gblab %>">
  <tr>
    <td><%= gblab.nombre %></td>
    <td><%= gblab.usuario %></td>
    <td><%= gblab.correo %></td>
    <td><%= gblab.bitrix24 %></td>
    <td><%= gblab.equipo %></td>
    <td><%= gblab.tipo %></td>
    <td><%= gblab.ubicacion %></td>
    <td><%= gblab.procesador %></td>
    <td><%= gblab.grafica %></td>
    <td><%= gblab.memoria %></td>
    <td><%= gblab.disco %></td>
    <td><%= gblab.monitor %></td>
    <td><%= gblab.mouse %></td>
    <td><%= gblab.teclado %></td>
    <td><%= gblab.diadema %></td>
    <td><%= gblab.base_refrigerante %></td>
    <td><%= gblab.celular %></td>
    <td><%= gblab.otro_accesorio %></td>
    <td><%= gblab.observaciones %></td>
    <td><%= link_to "Show", gblab, class:"btn btn-secondary" %></td>
    <td><%= link_to "Edit", edit_gblab_path(gblab) , class:"btn btn-primary"%></td>
  </tr>
</div>
