<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "gblovers.png", alt: "Navbar Logo", class: "navbar-logo", width: 120, height: 40 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item rounded-5">
          <%= link_to '&#937; Inventario Gblab'.html_safe, gblabs_path,class:"nav-link", id:"gblabs"%>
        </li>
        <li class="nav-item rounded-5">
          <%= link_to '&#934; Inventario Cobes'.html_safe, cobes_path,class:"nav-link", id:"cobes"%>
        </li>
        <li class="nav-item rounded-5" id="elemoods">
          <%= link_to '&#936; Inventario Elemood'.html_safe, elemoods_path,class:"nav-link", id:"elemoods"%>
        </li>
      </ul>
    </div>
  </div>
</nav>