<div id="<%= dom_id cobe %>">
  <tr>
    <td><%= cobe.nombre %></td>
    <td><%= cobe.usuario %></td>
    <td><%= cobe.correo %></td>
    <td><%= cobe.bitrix24 %></td>
    <td><%= cobe.equipo %></td>
    <td><%= cobe.tipo %></td>
    <td><%= cobe.ubicacion %></td>
    <td><%= cobe.procesador %></td>
    <td><%= cobe.grafica %></td>
    <td><%= cobe.memoria %></td>
    <td><%= cobe.disco %></td>
    <td><%= cobe.monitor %></td>
    <td><%= cobe.mouse %></td>
    <td><%= cobe.teclado %></td>
    <td><%= cobe.diadema %></td>
    <td><%= cobe.base_refrigerante %></td>
    <td><%= cobe.celular %></td>
    <td><%= cobe.otro_accesorio %></td>
    <td><%= cobe.observaciones %></td>
    <td><%= link_to "Show", cobe, class:"btn btn-secondary" %></td>
    <td><%= link_to "Edit", edit_cobe_path(cobe) , class:"btn btn-primary"%></td>
  </tr>
</div>