<div id="<%= dom_id elemood %>">
  <tr>
    <td><%= elemood.nombre %></td>
    <td><%= elemood.usuario %></td>
    <td><%= elemood.correo %></td>
    <td><%= elemood.bitrix24 %></td>
    <td><%= elemood.equipo %></td>
    <td><%= elemood.tipo %></td>
    <td><%= elemood.ubicacion %></td>
    <td><%= elemood.procesador %></td>
    <td><%= elemood.grafica %></td>
    <td><%= elemood.memoria %></td>
    <td><%= elemood.disco %></td>
    <td><%= elemood.monitor %></td>
    <td><%= elemood.mouse %></td>
    <td><%= elemood.teclado %></td>
    <td><%= elemood.diadema %></td>
    <td><%= elemood.base_refrigerante %></td>
    <td><%= elemood.celular %></td>
    <td><%= elemood.otro_accesorio %></td>
    <td><%= elemood.observaciones %></td>
    <td><%= link_to "Show", elemood, class:"btn btn-secondary" %></td>
    <td><%= link_to "Edit", edit_elemood_path(elemood) , class:"btn btn-primary"%></td>
  </tr>
</div>
